
body{    position: relative;}

html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img { margin:0; padding:0; }
html { width:100%; height:100%; font-family: 'Noto Sans KR', sans-serif;  }
body,code { font-size:14px; font-family: 'Noto Sans KR', sans-serif;   color:#111; background:#fff; }
ul { list-style: none; padding: 0; margin: 0; } 
li { list-style:none; }
img,fieldset { border:none; vertical-align:top; }
table { width:100%; border:0; border-spacing:0; border-collapse:collapse; }
caption { display:none; }
th,td { border:0; vertical-align:top; }
button { overflow:visible; padding:0; margin:0; border:0; cursor:pointer; }
hr.layout { display:none; }
a { text-decoration:none; color:#000; }
a:hover { text-decoration:none; }
a:active { text-decoration:none; }
:focus {outline:none;}


/* 오른쪽 페이지바 */
.right_page { top: calc(100% / 2 - 60px); position: fixed; height: auto; right: 10px; z-index: 50; } 

.right_page li { list-style-type: none; width: 8px; height: 8px; background-color: brown; border-radius: 4px; margin: 20px 15px; transition: 0.3s ease; }

.right_page li.active { background-color: yellow; } 
/* 오른쪽 페이지바 */

/* 상단메뉴바 */
.top_navbar { position: fixed;         width: fit-content; top: 10px; left: 10px; z-index: 50; display:flex; height: 15px; background: #fff; opacity:80%; border-top-left-radius: 30%; border-bottom-right-radius: 30%; border-top-right-radius: 5px; border-bottom-left-radius: 5px; } 
.top_navbar li { display: inline-block; margin: 0 33px; } 

.top_navbar li a { font-family: 'Protest Riot', sans-serif; font-size: 20px; } 
/* 상단메뉴바 */
.section { width: 100%; height: 100vh;}


#sec1 { background-color: rgb(255, 153, 153); display:flex;    position: relative;  justify-content: center; flex-direction: column; align-items: center;} 
#sec1 p { font-size: 120px; font-family: 'Protest Riot', sans-serif; font-weight: bold; margin: 0; padding: 0 0 10px; }
#sec1 .main_title{padding-bottom: 50px;}
/* 마우스 스크롤 모양 */
.mouseDown { font-size: 0.9em; /* CONTROL MOUSE SIZE */
 border: 3px solid rgba(255,255,255,1); display: block; width: 1.7em; height: 2.8em; border-radius: 0.9em; margin: 0 auto; text-decoration: none; transition: border 0.2s ease-out; position: absolute; bottom: 10%; left: 50%; } 
 
 .mouseDown:hover { border: 2px solid rgba(255,255,255,0.7); } 
 
 .mouseDown span { display: block; background: #fff; width: 0.2em; height: 0.3em; margin: 0.7em auto 0; border-radius: 0.4em; } 
 
 .mouseDown span { -webkit-animation-name: scroll; animation-name: scroll; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5); animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5); -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; will-change: transform; } 
 
 .mouseDown:hover span { -webkit-animation-duration: 0.7s; animation-duration: 0.7s; } 
 
 @-webkit-keyframes scroll { 0%, 20% { -webkit-transform: translateY(0) scaleY(1); } 
 10% { opacity: 1; } 
 100% { -webkit-transform: translateY(1.2em) scaleY(1.5); opacity: 0.01; } 
 }
 
 @keyframes scroll { 0%, 20% { transform: translateY(0) scaleY(1); } 
 10% { opacity: 1; } 
 100% { transform: translateY(1.2em) scaleY(1.5); opacity: 0.01; } 
 }
 /* 마우스 스크롤 모양 */


 /* profile */
#sec2 { background-color: rgb(153, 204, 255); position: relative; } 
.bg {    width: 35vw; height: 80vh; background: #ccc; position: absolute; bottom: 50%; transform: translateY(50%); opacity: 30%; } 
.container { width:90%; height: 100%; display: flex; margin: 0 auto; position:relative;      align-items: center;} 

.profile_left { display: flex; flex-flow: column nowrap;  margin-right: 50px; width: 40%;}
.profile_left h1 { font-family: 'Protest Riot', sans-serif; font-size: 50px; } 
figure { --c: 50px; --p: 30px; --d: 10px; background: red; display: inline-block; padding: var(--p); background:
 radial-gradient(farthest-side at 0 0, #000, #0000) 0 0 / var(--c) var(--c),
 radial-gradient(farthest-side at 100% 100%, #000, #0000) 100% 100% / var(--c) var(--c),
 linear-gradient(#fff 0 0) 50% 50% / calc(100% - var(--p)) calc(100% - var(--p)),
 linear-gradient(#0000, #000 25% 75%, #0000) 50% 50% / calc(100% - var(--p)) calc(100% - var(--d)),
 linear-gradient(90deg, #0000, #000 25% 75%, #0000) 50% 50% / calc(100% - var(--d)) calc(100% - var(--p)),
 radial-gradient(farthest-side at 0 100%, #00000018, #0000) calc(100% - var(--d) * 0.5) calc(var(--d) * 0.5) / var(--d) var(--d),
 radial-gradient(farthest-side at 100% 0, #00000018, #0000) calc(var(--d) * 0.5) calc(100% - var(--d) * 0.5) / var(--d) var(--d)
; background-repeat: no-repeat; clip-path: polygon(0 var(--c), var(--c) 0, 100% 0, 100% calc(100% - var(--c)), calc(100% - var(--c)) 100%, 0 100%); } 
.jungyeon { width: 100%; height: 65vh; overflow: hidden; } 
.jungyeon figure{height: 100%; box-sizing: border-box;}
.jungyeon img { width: 100%; height: 100%; object-fit: cover; object-position: 0 50%;}
.profile_right {width: calc(60% - 50px);display: flex; flex-flow: column nowrap; justify-content: center; } 
.profile_right h2 { font-size: 3vw; color: #266C9F; font-family: 'Do Hyeon', sans-serif; 
 font-weight: 500; margin: 0; padding-bottom: 15px; } 
.profile_right .all { display: flex;    margin-top: 30px; } 
.profile_right .all *{font-size:1.2vw;}
.profile_right .all .left{margin-right: 50px;}
.profile_right .all>ul>li{    margin-bottom: 20px;}
.profile_right .all>ul>li>ul>li{margin-bottom: 10px;}

.aboutme ul > li { display: flex;     margin-bottom: 10px; } 
.aboutme> h3,
.certificare > h3,
.education >h3,
.experience>h3,
.skill>h3
 {  font-size:1.2vw;  margin-bottom: 10px; color: #266C9F; } 
.aboutme ul > li > p { padding-right:20px; font-weight: 600; margin: 0; } 
.certificare ul > li > span ,
.education ul > li > span,
.experience ul > li > span
 {
 font-weight: 600; } 

.skill ul { display: flex; flex-flow: row nowrap; }
.skill ul li { margin: 0 10px; } 
.skill ul li img { width: 50px; height: 50px; } 
 /* profile */

 /* project-web */
#sec3 { background-color: rgb(255, 153, 102); position: relative; } 
.container2 { width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 
.container2 h1 { font-family: 'Protest Riot', sans-serif; font-size: 50px; margin-bottom: 44px; } 
.project_box { 
 display: flex; justify-content: space-between;    align-items: center;}
.project_left{    width: 50%;
  text-align: center;}

.project_left img {    width: 90%; } 

 .project_right { margin-left: 50px;    width: 50%; } 
 .project_right h3{font-size: 20px;}
 .project_right p{}
 .project_right_txt{line-height: 2;    margin-top: 20px;}
.project_right_txt dl { } 
.project_right_txt dl dt {  }
.project_right_txt dl dd{word-break: keep-all;}
 .btn_area{margin-top: 30px; display: flex; gap: 8px; width: 95%; margin-right: auto;}
 .btn_area>div{flex: 1;}
.btn { width: 160px; height: 50px;border: 2px solid rgb(255, 153, 102); background: rgb(255, 153, 102); border-radius: 15px; text-align: center; line-height: 50px;  transition: 0.3s;} 
.btn:hover { border: 2px solid rgb(255, 153, 102); background: #fff; } 
.btn:hover a { color: rgb(255, 153, 102); } 
.btn a { text-align: center; } 

.btn2 { width: 160px; height: 50px;border: 2px solid #000; background: #fff; color: #000;
  border-radius: 15px; text-align: center; line-height: 50px; transition: 0.3s;} 
.btn2:hover { color: #fff; background: #000; } 
.btn2:hover a { color: #fff; } 
.btn2 a { text-align: center; } 

/* swiper */

.swiper { width: 100%; height: 65vh; } 
.swiper-slide { background: #fff; display: flex; justify-content: center; align-items: center; border-radius: 15px; } 

 .swiper-button-next { color: rgb(255, 153, 102); } 
 .swiper-button-prev { color: rgb(255, 153, 102); } 

 
/* swiper */

/* 반응형 태블릿 */
@media screen and (max-width: 1024px) {
    #sec1 p{    font-size: 99px;}
    .profile_left h1,.container2 h1{font-size: 42px;}

    .profile_left{
      margin-right: 20px;
  }
  .jungyeon{height: auto;}
  .jungyeon figure{    margin-left: 0;  margin-right: 0;}
  }
  .profile_right .all .left {    margin-right: 20px;}


  /* 반응형 모바일 */
  @media screen and (max-width: 767px) {
    #sec1{height: 100vh !important;}
    #sec1 p{    font-size: 50px;}
    .top_navbar li { display: inline-block; margin: 0 20px; } 
    .right_page{display: none;}
    .profile_left h1,.container2 h1{font-size: 30px;}

    .section{height: auto;}
    .container,.container2{display: block; padding: 62px 0;}
    .profile_left{    width: 100%;  margin: 0;}
    .jungyeon figure{    margin-left: auto;
      margin-right: auto;}
    .profile_right{    margin-top: 20px;
      padding: 20px;
      background: #fff;
      width: 100%;
      box-sizing: border-box;
      border-radius: 20px;}
      .profile_right .all{    display: block;}
      .profile_right .all * {
        font-size: 12px;
    }
    .profile_right h2 { font-size: 25px;}
    .bg{width: 60%;
      height: 95%;}

      .project_right h3{font-size: 16px;}
      .swiper{height: auto;}
      .swiper-slide{    padding: 30px 0px;
        box-sizing: border-box;}
        .project_box{    display: block;
          width: 78%;
          margin: 0 auto;}
          .project_left{    width: 100%;}
          .project_right{   width: 100%;         margin: 20px 0 0;}
            .project_right * {font-size: 12px;}
            .btn_area{    margin: 30px auto 0;     display: block;}

            .btn2{    width: 48% !important;     display: inline-block;}
            .btn{width: 98% !important;
              margin-top: 10px;
          }
  }
/* project-web */
